<%= link_to("<<Back to list>>", {:action => 'index'}, :class => 'back-link') %>

<div class="Section new">
	<h2>Create Section</h2>

	<%= form_for(:section, :url => {:action => 'create', :id => @section.id }) do |f| %>

		<%= render(:partial => "form", :locals => {:f => f}) %>
		
		<div class="form-buttons">
			<%= submit_tag("Create Section") %>
		</div>
	<% end %>
</div>